################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Bills/FileContentIndex
/Bills1/.vs/Bills1/FileContentIndex
/Bills1/bin/Debug
